@font-face{
  font-family: LINESeedSansTH_A_Bd;
  src: url(../fonts/LINESeedSansTH_A_Bd.ttf);
  font-style: normal;
  font-variant:initial;
}  
@font-face{
  font-family: LINESeedSansTH_A_He;
  src: url(../fonts/LINESeedSansTH_A_He.ttf);
  font-style: normal;
  font-variant:initial;
}  
@font-face{
  font-family: LINESeedSansTH_A_Rg;
  src: url(../fonts/LINESeedSansTH_A_Rg.ttf);
  font-style: normal;
  font-variant:initial;
}  
@font-face{
  font-family: LINESeedSansTH_A_Th;
  src: url(../fonts/LINESeedSansTH_A_Th.ttf);
  font-style: normal;
  font-variant:initial;
}  
@font-face{
  font-family: LINESeedSansTH_A_XBd;
  src: url(../fonts/LINESeedSansTH_A_XBd.ttf);
  font-style: normal;
  font-variant:initial;
}    
@font-face{
  font-family: Poppins-Regular;
  src: url(../fonts/Poppins-Regular.ttf);
  font-style: normal;
  font-variant:initial;
}    
@font-face{
  font-family: NotoSansThaiLooped-Bold;
  src: url(../fonts/NotoSansThaiLooped-Bold.ttf);
  font-style: normal;
  font-variant:initial;
}  
@font-face{
  font-family: NotoSansThaiLooped-Regular;
  src: url(../fonts/NotoSansThaiLooped-Regular.ttf);
  font-style: normal;
  font-variant:initial;
}  
@font-face{
  font-family: NotoSansThaiLooped-SemiBold;
  src: url(../fonts/NotoSansThaiLooped-SemiBold.ttf);
  font-style: normal;
  font-variant:initial;
}  
a:hover{
  text-decoration: none;
}   
@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }  
}
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }  
}   
header .dropdown:hover>.dropdown-menu {
  display: block;
}
@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1380px !important;
  }
} 
header .navbar{
  height: 80px;  
  background: transparent;
}
header .navbar.bgt{ 
  background: #F4F6F9 !important;
}
header .navbar .navbar-brand{ 
  position: relative;
  padding-left: 66px;
}
header .navbar .navbar-brand img{
  height: 50px;
  left: 0; 
  position: absolute;
}
header .navbar .navbar-brand{ 
  font-family: LINESeedSansTH_A_Rg;
  font-weight: bold;
  font-size: 16px; 
  color: #2B8FE9;
  line-height: 24px;
}
header .navbar .navbar-brand span{  
  font-family: Poppins-Regular;
  font-weight: bold;
  font-size: 24px;
}
header .navbar .navbar-nav .nav-item{
  transition: .33s all ease-out;  
  margin-left: 10px;
  margin-right: 10px;
}
header .navbar .navbar-nav .nav-item.active .nav-link{
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  color: #2B8FE9;
}
header .navbar .navbar-nav .nav-item:hover .nav-link{
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  color: #2B8FE9;
}
header .navbar .navbar-nav .nav-item .nav-link{
  font-family: LINESeedSansTH_A_Rg;
  font-size: 14px; 
  color: #000000;
  padding: 8px 16px;
  transition: .33s all ease-out; 
}
#home-img li{ 
  display: flex;
  justify-content: center;
  align-items: center;
}
#home-img li img{ 
  height: 294px !important;
  display: flex;
  justify-content: center;
}
#home-img li.active img{ 
  height: 519px !important;

} 
footer .top{
  border-top: 1px solid #E4E4E4; 
  padding: 32px 0px;
  height: 170px;

}
footer .bot{
  padding: 16px 0px; 
  height: 58px;
  background: #2B8FE9;
}
.nav-item .download{
  text-decoration-line: underline;
  font-size: 14px;
  color: #2B8FE9;
  font-family: LINESeedSansTH_A_Bd;
  line-height: 40px;
}
.btn-regis{
  font-family: LINESeedSansTH_A_Bd;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px; 
  color: #2B8FE9;
  border: 1px solid #2B8FE9;
  border-radius: 6px;
  padding: 10px 28px;
  transition: .33s all ease-out; 
}
.btn-regis:hover{
  color: #2B8FE9; 
  box-shadow: 0px 2px 4px rgba(165, 163, 174, 0.3);
}
.btn-login{
  font-family: LINESeedSansTH_A_Bd;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px; 
  color: #fff;
  border: 1px solid #2B8FE9;
  border-radius: 6px;
  padding: 10px 28px;
  background: #2B8FE9;
  box-shadow: 0px 2px 4px rgba(165, 163, 174, 0.3);
  transition: .33s all ease-out; 
}
.btn-login:hover{ 
  color: #ffffff50; 
}
.fotdata{
  position: relative;
  padding-left: 132px;
}
.fotdata img{
  position: absolute;
  height: 105px;
  left: 0;
}
.fotdata h4{
  font-weight: 500;
  font-size: 16px;
  color: #000;
  font-family: LINESeedSansTH_A_Bd;
  margin-top: 10px;
  margin-bottom: 10px;
}
.fotdata h5{ 
  font-size: 14px;
  color: #000;
  font-family: LINESeedSansTH_A_Rg;
}
.ft-social{
  text-align: right; 
}
.ft-social img{
  height: 40px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 30px;
  transition: .33s all ease-out; 
}
.ft-social img:hover{
  transform: scale(.85);
}
footer .bot{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px; 
  letter-spacing: -0.02em; 
  color: #FFFFFF;
  font-family: NotoSansThaiLooped-Regular; 
}
footer .bot a{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px; 
  letter-spacing: -0.02em; 
  color: #FFFFFF;
  transition: .33s all ease-out; 
  font-family: NotoSansThaiLooped-Regular; 
}
footer .bot a:hover{ 
  color: rgba(255, 255, 255, 0.6); 
}
.sec-book{
  padding-top: 60px;
  padding-bottom: 60px;
}
.h1b{
  font-family: NotoSansThaiLooped-Bold;
  color: #000000;  
  font-size: 50px;
  position: relative;
  margin-bottom: 50px;
  padding-bottom: 15px;
}
.h1b:after{
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 110px;
  height: 6px;
  border-radius: 3px;
  background: #2B8FE9;
}
.btn-read{
  width: 219px;
  height: 58px; 
  background: #2B8FE9; 
  box-shadow: 0px 2px 4px rgba(165, 163, 174, 0.3);
  border-radius: 6px;
  font-weight: 700;
  font-size: 24px;
  line-height: 45px; 
  color: #FFFFFF;
  font-family: LINESeedSansTH_A_Bd;
  transition: .33s all ease-out; 
}
.btn-read:hover{
  background: #2B8FE9;  
}
.sec-book .book{
  padding: 24px;  
  height: 150px;
  margin-bottom: 18px;
  background: #FFFFFF;
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.08);
  border-radius: 16px; 
  position: relative;
  transition: .33s all ease-out; 
  transition: .33s all ease-out; 
}
.sec-book .book:hover{ 
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.13); 
}
.sec-book .book h5{
  font-size: 16px;
  color: #515151;
  font-family: NotoSansThaiLooped-Regular;
  font-weight: 500px;
} 
.sec-book .book:hover h3{ 
  color: #2B8FE9;
}
.sec-book .book h5 span{
  float: right;    
}
.sec-book .book img{
  position: absolute;
  left: 24px;  
  bottom: 24px;
  height: 60px;
}
.sec-book .book h3{
  font-family: NotoSansThaiLooped-Bold; 
  padding-left: 84px;
  font-weight: 600;
  font-size: 18px;
  line-height: 163.9%; 
  letter-spacing: 0.01em; 
  color: #000000;
  margin-top: 20px;
  transition: .33s all ease-out; 
}
.sec-press{
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(../images/bgc.png) , #F8F7FA !important;
  background-repeat: no-repeat !important;
  background-size: 100% auto !important;
  background-position: center !important;
}
.main-press .img{
  border-radius: 22px;
  height: 542px;
  z-index: 3;
  position: relative;
}
.main-press .des{
  padding: 16px;  
  height: 130px; 
  background: #FFFFFF;
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  margin-top: -59px;
  z-index: 5;
  position: relative;
  transition: .33s all ease-out; 
}
.main-press:hover .des{  
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.13);
}

.main-press .des h3{  
  font-size: 20px; 
  letter-spacing: -0.02em; 
  color: #000000;
  font-family: NotoSansThaiLooped-SemiBold;   
}
.main-press .des h6{  
  font-size: 14px; 
  letter-spacing: -0.02em; 
  color: #000000;
  font-family: NotoSansThaiLooped-SemiBold;  
  margin-top: 10px;
} 
.main-press .des h6 img{   
  height: 24px; 
}
.main-press .des .icon{   
  position: absolute;
  right: 16px;
  bottom: 16px;
}
.main-press .des .icon img{   
  height: 24px; 
}
.main-press .des .icon img:nth-child(1){   
  border-right: 1px solid #e6e6e6;  
  padding-right: 8px;
}
.sub-press{
  padding: 16px;  
  height: 181px; 
  background: #FFFFFF;
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  position: relative;
  margin-bottom: 30px;
}
.sub-press .img{
  position: absolute;
  height: 149px; 
  left: 16px;
  top: 16px;
}
.sub-press .des{ 
  display: flex;
  align-items: center;
  height: 100%;
}
.sub-press h4{ 
  padding-left: 173px;
  font-weight: 500;
  font-size: 20px;
  line-height: 163.9%; 
  letter-spacing: -0.02em; 
  color: #000000;
  font-family: NotoSansThaiLooped-SemiBold;
  margin-bottom: 0px;
}
.sub-press h6{ 
  padding-left: 173px;
  font-weight: 500;
  font-size: 14px; 
  color: #000000;
  font-family: NotoSansThaiLooped-SemiBold;
}
.sub-press .icon{   
  position: absolute; 
  bottom: 16px;
  right: 16px;
} 
.sub-press .icon img:nth-child(1){   
  border-right: 1px solid #e6e6e6;  
  padding-right: 8px;
}
.calendar-event{
  background: #F8F7FA;
  padding-top: 120px;
  padding-bottom: 60px;
  background: url(../images/bg-atten.png) , url(../images/Frame7.png) , #F8F7FA !important;
  background-repeat: no-repeat, no-repeat !important;
  background-size: auto 267px, auto 661px  !important;
  background-position: top 60px right , top 139px right !important;
}
.calendar-event .h1b{ 
  margin-top: 60px;
}
.calendar-main{  
  background: #FFFFFF;
  position: relative;
  box-shadow: 0px 4px 18px rgba(75, 70, 92, 0.1);
  border-radius: 16px; 
}
.calendar-event .search{
  position: relative;
}
.calendar-event .search input{
  margin-top: 24px;
  margin-bottom: 24px;
  height: 45px; 
  background: #FFFFFF; 
  border: 1px solid #DBDADE;
  border-radius: 4px;
  padding-left: 38px;
  width: calc(100% - 53px);
  font-family: NotoSansThaiLooped-Regular;
  font-size: 16px;
}
.calendar-event .search input::placeholder{
  color: #00000050;
}
.calendar-event .search .btn{
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #2B8FE9; 
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: #2B8FE9;
  border-radius: 4px 0px 0px 4px;
}
.calendar-event .search input + img{
  position: absolute;
  top: 12px;
  left: 10px;
}
.calendar-event  .date{
  border-top: 1px solid #DBDADE;
  border-bottom: 1px solid #DBDADE;
  padding: 20px;
  font-family: NotoSansThaiLooped-Regular;
}
.calendar-event  .datepicker{
  width: 100%;
}
.calendar-event  .table-condensed{
  width: 100%;
}
.datepicker td, .datepicker th { 
  padding: 8px 10px;
}
.datepicker td.today { 
  background: #2B8FE9 !important; 
  width: 34px !important;
  height: 34px !important;
  border-radius: 100% !important;
  box-shadow: 0px 2px 4px rgba(165, 163, 174, 0.3) !important;
  border-radius: 40px;
  color: #fff !important;
}
.datepicker td.active { 
  background: #2B8FE9 !important; 
  width: 34px !important;
  height: 34px !important;
  border-radius: 100% !important;
  box-shadow: 0px 2px 4px rgba(165, 163, 174, 0.3) !important;
  border-radius: 40px;
  color: #fff !important;
}
.calendar-main .col-xl-3.p-0{
  border-right: 1px solid #DBDADE; 
}
.filtter{
  padding: 24px;
}
.filtter h5{
  font-size: 16px;
  font-family: NotoSansThaiLooped-Regular;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.37);
} 
.filtter .custom-control{
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}  
.filtter .custom-control label{
  font-size: 16px;
  line-height: 22px;
  font-family: NotoSansThaiLooped-Regular;
  color: #4B465C;
} 
.custom-control-input.custom1:checked~.custom-control-label::before { 
  border-color: #00CFE8;
  background-color: #00CFE8;
}
.custom-control-input.custom2:checked~.custom-control-label::before { 
  border-color: #FF9F43;
  background-color: #FF9F43;
}
.custom-control-input.custom3:checked~.custom-control-label::before { 
  border-color: #28C76F;
  background-color: #28C76F;
}  
.fc-bg1{ 
  padding: 7px 12px !important;
  color: #00CFE8 !important;
  border-color: rgba(0, 207, 232, 0.16) !important;
  background-color: rgba(0, 207, 232, 0.16) !important;
  margin-bottom: 8px !important;
}
.fc-bg2{ 
  color: #FF9F43 !important;
  padding: 7px 12px !important;
  border-color: rgba(255, 159, 67, 0.16) !important;
  background-color: rgba(255, 159, 67, 0.16) !important; 
  margin-bottom: 8px !important;
}
.fc-bg3{ 
  color: #28C76F !important;
  padding: 7px 12px !important;
  border-color: rgba(40, 199, 111, 0.16) !important;
  background: rgba(40, 199, 111, 0.16) !important;
  margin-bottom: 8px !important;
} 
#calendar { 
  margin-top: 20px;
  font-family: NotoSansThaiLooped-Regular;
}
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
  float: left !important;
}
.sec1{
  padding-bottom: 800px;
  height: 610px; 
  padding-top: 150px;
  background: url(../images/bgbg.png) , #fff;
  background-size: 100% 610px;
  background-position: top center !important;
  background-repeat: no-repeat !important;
}  
.sec1 .h1b:after{
  right: 0 !important;
  left: 0 !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#home-slide .lslide{ 
  height: 200px;
  background-repeat: no-repeat !important;
  background-size: auto 100% !important;
  background-position: center !important;
}
#home-slide .lslide.active{ 
  position: relative;
  transform: scale(2);
}

.book-top{
  background-color: #fff;
  padding-top: 150px;
  margin-top: -150px !important;
} 
.calendar-main > .col-xl-3{
  display: none;
}
.calendar-main.active > .col-xl-3{
  display: block;
}   
.calendar-show {
  display: block;
  position: absolute;
  top: 25px;
  left: 0;
  width: 45px;
  height: 45px;
  background: #2B8FE9;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: #2B8FE9;
  border-radius: 0px 4px 4px 0px ;
  z-index: 3; 
}
.calendar-show img{
  transform: rotate(180deg);
} 
.calendar-main.active .calendar-show {
  display: none; 
}
.calendar-main.active > .col-xl-9{ 
  max-width: 76% !important;
  width: 75% !important;
  flex: 0 0 75%; 
  padding-left: 15px;
}    
.calendar-main > .col-xl-9{
  max-width: 100% !important;
  width: 100% !important;
  flex: 0 0 100%; 
  padding-left: 55px;
}   
.menu-bars{
  position: fixed;
  right: 15px;
  top: 15px;
  font-size: 20px;
  z-index: 1111 !important;
  color: #2B8FE9;
}

.menu-mb{ 
  z-index: 2222 !important;
  position: fixed;
  left: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: #F3F5F7;
  background-repeat: no-repeat , no-repeat !important;
  background-size: 285px auto , 100% !important ;
  background-position: bottom 25px right 25px , center;
  padding: 25px;
}
.menu-mb.active{
  display: block; 
  left: 0;
}
.menu-mb .navbar-brand{
  padding-left: 80px;
  font-family: LINESeedSansTH_A_Rg;
  font-weight: bold;
  font-size: 22px; 
  color: #2B8FE9;
}
.menu-mb .navbar-brand img{
  height: 60px;
  position: absolute;
  left: 20px;
  top: 30px;
}
.menu-mb .navbar-nav {
  margin-top: 20px;
}
.menu-mb .navbar-nav li{
  margin-top: 10px;
  margin-bottom: 10px;
} 
.menu-mb .navbar-nav li a{
  height: 80px;
  font-size: 16px;
  line-height: 22px;
  font-family: NotoSansThaiLooped-Regular;
  color: #4B465C;
  transition: .33s all ease-out; 
}
.menu-mb .navbar-nav li.active a{
  color: #2B8FE9;
}
.menu-mb .navbar-nav li a:hover{
  color: #2B8FE9;
}
.menu-mb .navbar-close{
  position: absolute;
  top: 30px;
  color: #4B465C;
  right: 30px;
  font-size: 22px;
}
.menu-mb .btn-regis{
  font-size: 15px;
  line-height: 24px; 
  color: #2B8FE9;
  width: 100% !important;
  height: 44px !important; 
  border: 1px solid #2B8FE9;
  border-radius: 6px;
  margin-right: -10px;
}
.menu-mb .btn-login{  
  width: 100% !important;
  height: 44px !important;  
}



/* 
  transition: .33s all ease-out; 
  font-family: Poppins-Regular;
  font-family: LINESeedSansTH_A_Rg;
  font-family: LINESeedSansTH_A_Bd;
  font-family: NotoSansThaiLooped-Regular;
  font-family: NotoSansThaiLooped-Bold;


  88888888888888888888888888
  88888888888888888888888888
  88888888888888888888888888
  88888888888888888888888888
  88888888888888888888888888
  88888888888888888888888888 
*/
 


.slick span {
  display: block;   
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: auto 500px !important; 
  height: 500px;
  line-height: 100px;
  position: relative;
  text-align: center;
  transform: translate(0, 0) scale(0.4);
  transition: all 0.4s ease;
  opacity: 0.5;
  margin-top: 100px;
} 
.slick span img{
  object-fit: cover;
  height: auto;
  width: 100%;
  max-width: 100%; 
  border: 10px solid #FFFFFF;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.04);
  border-radius: 50px;
} 


.slick-slide.lt2 span {
  transform: translate(10%, 0) scale(0.5);
}

.slick-slide.lt1 span {
  opacity: 0.7;
  transform: translate(-25%, 0) scale(0.7);
}

.slick-slide.gt1 span {
  opacity: 0.7;
  transform: translate(25%, 0) scale(0.7);
}

.slick-slide.gt2 span {
  transform: translate(-10%, 0) scale(0.5);
}

.slick-slide.slick-center span {
  z-index: 1;
  transform: scale(1.4);
  opacity: 1;
  color: #e67e22;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  appearance: none;
  margin-top: -10px;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
  color: transparent;
  outline: none;
  z-index: 100;
}

.slick-prev {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 15px 0px;
  border-color: transparent #007bff transparent transparent;
  left: 0;
}

.slick-next {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent transparent transparent #007bff;
  right: 0;
}
.slick-dots{
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: -90px;
  padding-left: 0px;
} 
.slick-dots li{ 
  margin-left: 7px;
  margin-right: 7px;
}
.slick-dots li button{ 
  width: 13px;
  height: 13px;
  border-radius: 100%;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background: #D9D9D9;
  color: #D9D9D9;
  font-size: 1px;
}
.slick-dots li.slick-active button{
  background: #2B8FE9;
}
.slick-prev{
  left: 40%;
  top: 96% !important;
  background: url(../images/Path-p.png) , #fff;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 8px 16px !important; 
  width: 48px;
  height: 48px;
  border-radius: 100%; 
  border: none !important;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
} 
.slick-next{
  right: 40%;
  top: 96% !important;
  background: url(../images/Path-n.png) , #fff;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 8px 16px !important; 
  width: 48px;
  height: 48px;
  border-radius: 100%; 
  border: none !important;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
}
.slick-prev:focus{ 
  border: none !important;
  outline: none !important;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
}
.slick-next:focus{ 
  border: none !important;
  outline: none !important;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
}
@media only screen and (max-width: 1024px) { /* MOBILE */
  .fotdata img { 
    height: 75px; 
    left: 10px;
  }
  .fotdata { 
    padding-left: 100px;
  }
  footer .top{
    height: unset !important;
  }
  .ft-social{
    text-align: center;
  }
  footer .bot {
    padding: 10px 0px;
    height: unset;
    background: #2B8FE9;
  }
  footer .bot{
    font-size: 11px;
    text-align: center !important;
  }
  footer .bot a{
    font-size: 12px;
  }
  footer .bot .text-right{
    text-align: center !important;
  }
  .sec-book .book {
    padding: 15px;
    height: unset;
    margin-bottom: 15px; 
  }
  .sec-book .book img {
    position: absolute;
    left: 15px;
    bottom: 40px;
    height: 30px;
  }
  .sec-book .book h3 { 
    padding-left: 46px; 
    font-size: 14px; 
    margin-top: 10px;
  }
  .h1b { 
    font-size: 30px; 
    margin-bottom: 30px;
    padding-bottom: 10px;
  }
  .h1b:after{  
    margin-bottom: 0px;
    padding-bottom: 5px;
  }
  .h1b:after { 
    width: 80px;
    height: 4px;  
  }
  .btn-read {
    width: 110px;
    height: 45px; 
    font-weight: 700;
    font-size: 16px;
    line-height: 30px; 
  }
  .btn-read {
    position: absolute;
    right: 15px;
    top: -75px; 
  }
  .btn-read img{
    height: 12px;
    display: none;
  }
  .sub-press{
    height: 125px;
  }
  .sub-press .des { 
    align-items: start; 
  }
  .sub-press .img { 
    height: 100px;
    left: 13px;
    top: 13px;
  }
  .sub-press h4 {
    padding-left: 110px; 
    font-size: 16px; 
  }
  .sub-press h6 {
    padding-left: 110px; 
    font-size: 12px; 
    position: absolute;
    bottom: 10px;
  }
  .sec-book {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .main-press .img { 
    height: unset;
  }
  .main-press .des h3 {
    font-size: 16px; 
  }
  .calendar-event {
    background: #F8F7FA;
    padding-top: 120px;
    padding-bottom: 60px;
    background: #F8F7FA !important; 
    padding-top: 10px;
  } 
  .slick-prev{
    left: 0%;
    top: 96% !important;
    background: url(../images/Path-p.png) , #fff;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 8px 16px !important; 
    width: 48px;
    height: 48px;
    border-radius: 100%; 
    border: none !important;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  } 
  .slick-next{
    right: 0%;
    top: 96% !important;
    background: url(../images/Path-n.png) , #fff;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 8px 16px !important; 
    width: 48px;
    height: 48px;
    border-radius: 100%; 
    border: none !important;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  }
  .sec1 {
    padding-top: 100px;
    padding-bottom: 400px;
    height: 400px;
  }
  .slick span img { 
    border: 2px solid #FFFFFF;
    box-shadow: 0px 16px 24px rgb(0 0 0 / 4%);
    border-radius: 10px;
  }  
  .slick {
    margin-top: -60px;
  }
  .slick span { 
    height: auto;
    line-height: unset; 
    margin-top: 100px;
  } 
  .slick-dots{
    margin-top: 20px;
  }
}

@media only screen and (min-width: 1025px) { /* PC */
  .slick-dots{ 
    margin-top: -200px;
  } 
}
@media only screen and (min-width: 1500px) { /* PC */
  .slick-dots{ 
    margin-top: -150px;
  } 
}
@media only screen and (min-width: 1750px) { /* PC */
  .slick-dots{ 
    margin-top: -50px;
  } 
}